CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_MGMT_S3_RETRY=y
CORE_DEBUG_LEVEL=0
CONFIG_SPIRAM_SUPPORT=1
CONFIG_SPIRAM_MODE_OPI=1
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP_WIFI_PROMISCUOUS_SUPPORT=y
CONFIG_ESP_WIFI_80211_TX=y
CONFIG_ESP_WIFI_80211_TX_BYPASS=y
CONFIG_SOC_WIFI_CSI_SUPPORT=y
CONFIG_SOC_WIFI_MESH_SUPPORT=y